*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop{
  text-align: center;
  font-size: 60px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  background-color: lavenderBlush;
  color: black;
  padding: 5px;
  margin-bottom: 25px;
}

.shop-bar{
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 10px;
  border: 5px solid mediumTurquoise;
}

/* .search{
  align-self: center;
  float: right;
} */
