*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.trends{
  text-align: center;
  font-size: 60px;

}

.nav-bar{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  background-color: pink;
  color: black;
  padding: 5px;
}

.trendInfo{
  font-size: 20px;
  text-align: center;
  margin: 30px;
}
/* .search{
  align-self: center;
  float: right;
} */

img{
  object-fit: cover;
  weight: 700px;
  height: 700px;
  margin: 30px;
}

.plaidSection{
  display:flex;
  justify-content: space-around;
  text-align: left;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  background-color: slateBlue;
  opacity: .8;
}

.neonSection{
  display:flex;
  justify-content: space-around;
  text-align: left;
}

.animalSection{
  display:flex;
  justify-content: space-around;
  text-align: left;
}

.plaid-title{
  text-align: center;
  font-size: 30px;
  background-color: slateBlue;
  color: lavenderBlush;
}

.neon-title{
  text-align: center;
  font-size: 30px;
  background-color: slateBlue;
  color: lavenderBlush;
}

.animal-title{
  text-align: center;
  font-size: 30px;
  background-color: slateBlue;
  color: lavenderBlush;
}
